<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
"http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
<classPathEntry location="sqljdbc.jar"/>
<context id="MySqlTables" targetRuntime="MyBatis3">
<commentGenerator>
<property name="suppressAllComments" value="true"/>
</commentGenerator>
<jdbcConnection driverClass="com.microsoft.sqlserver.jdbc.SQLServerDriver"
 connectionURL="jdbc:sqlserver://127.0.0.1:1433;databaseName=login" password="123456" userId="sa">
</jdbcConnection>
<javaTypeResolver>
<property name="forceBigDecimals" value="false"/>
</javaTypeResolver>
<javaModelGenerator targetPackage="com.scce.entity" targetProject="../">
<property name="enableSubpackage" value="false"/>
<property name="trimStrings" value="true"/>
</javaModelGenerator>

<sqlMapGenerator targetPackage="com.scce.dao" targetProject="../">
<property name="enableSubpackages" value="true"/>
</sqlMapGenerator>
<javaClientGenerator targetPackage="com.scce.dao" type="XMLMAPPER" targetProject="../">
<property name="enableSubpackages" value="true"/>
</javaClientGenerator>
<table tableName="person" domainObjectName="Person"></table>
</context>
</generatorConfiguration>